
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');
body {
	background-color: rgb(245, 244, 241);
    overflow-x: hidden;
	margin-left: 20rem;
	margin-right: 20rem;
	margin-bottom: 10rem
}

.container {
	display: flex;
	flex-direction: column;
}

svg {
  overflow: visible;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', 'Raleway', 'sans-serif', 'Domine';
	margin-left: 1rem;
	margin-right: 1rem;
}

h1 {
    font-family: 'Domine';
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: 10rem;
	color: black;

}

h2 {
	font-family: 'Domine';
	color: black;
	margin-top: 2rem;
	font-size: 20px;
    font-weight: 500;
}

h3 {
	font-weight: 400;
	color: #457e3d;
	font-size: 17px;
	font-weight: bold;
}

.spacer {
    height: 30px;
}

a:link {
  color: #1d4f16;
}

/* visited link */
a:visited {
  color: #1d4f16;
}

/* mouse over link */
a:hover {
  background-color: #F3e1ef;
}

/* selected link */
a:active {
  color: #7bc158;
}

p {
	font-family: 'Lato';
	font-size: 18px;
	color: black;
	margin-left: 1rem;
	margin-right: 1rem;
}

.caption {
  font-size: 14.5px;
}

.annotation {
	font-size: 14px;
	color: #99A3A4;
}


.highlightclip {
	background-color: #Efe9d2;
	/* padding: 0.5rem 0.5rem; */
}

.highlightclip:hover {
	background-color: #E2F5D0;
	padding: 0.5rem 0.5rem;
}

.yaxis { 
	font-size: 14px;
	font-family: 'Lato';
 }

 .button {
	 font-family: 'Lato';
	 font-size: 14px;
	 padding: 5px 10px;

 }

.clip-container {
	margin-top: 4rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	/* margin-right: 10rem; */
}

.chart-container {
  max-width: 850px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.x .tick line {
  stroke: rgba(0, 0, 0, .2);
}

.y .tick line {
  stroke: rgba(0, 0, 0, .2);
}

.x .domain {
  display: none;
}

.y .domain {
  display: none;
}

.y .tick text {
  font-size: 14px;
  fill: #333;
  font-family: 'Lato';
}

.x .tick text {
  font-size: 14px;
  fill: #333;
  font-family: 'Lato';
}

.highlightpink {
  text-decoration: underline;
  color: #d66982;
}

.source {
  font-size: 12px;
  color: #777;
  font-weight: 400;
  margin-right: 250px;
}

.pop-up {
  position: absolute;
  border: 1px solid black;
  border-radius: 1px;
  line-height: 1.2;
  width: 200px;
  /* height: 100px; */
  pointer-events: none;
  background-color: white;
  padding: 10px;
}

.smallimage {
	width: 50%;
	margin-left: 170px;
}

.citations{
	color: grey;
	font-size: 15px;
}

@media (max-width: 768px) {
	body {
		background-color: #f7f2df;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		margin-bottom: 0.25rem
	}

	h1 {
		font-size: 45px;
		font-weight: 100;
		margin-top: 5rem;
		color: #1d4f16;
		}

  .container {
    display: block;
  }

	.clip-container {
		margin-top: 2rem;
		margin-bottom: 2rem;
		margin-right: 0.1rem;
	}
}